
html, body {
  padding: 0 0 0 0;
  margin: 0;
  font-family: 'helvetica', 'arial', 'sans';
  padding: 30px 30px 30px;
  /* background: #fff; */
  background-color: rgb(231, 248, 246);

  color: #000;
}

h1,h2,h3,h4 {
  font-family: 'helvetica', 'arial', 'sans';
  }


a {
  color: #000;
}


/* .demo-section {
   background-color: rgb(231, 248, 246); 
} */

.header h1 {
  font-size: 50px;
  }

.assignment {
  font-size: 12px;
  line-height: 24px;
  font-family: 'helvetica', 'arial', 'sans';
  padding: 20px 20px 20px 30px;
  width: 350px;
  height: 350px;
  float: left;
}

.assignment img {
  width: 350px;
  height: 350px;
}

.assignment a {
    color: #000;
    text-decoration: none;
}

.assignment a:hover {
  background: #F06;
  color: #F06;
  text-decoration: none;
}

[data-stl-url] {
	height: 500px;
	width: 30vw;
}

/* Assignment 1 */
.cookie-cutters > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cookie-cutters [data-stl-url] {
  box-shadow: 1px 1px 4px 0px rgb(213, 211, 211);
  border-radius: 4px;
  background-color: white;
}
.cookie-cutters span {
  padding-top: 30px;
  padding-bottom: 50px;
  font-size: 32px;
  font-weight: 800;
}

hr {
  margin-bottom: 60px;
}

h2{
  font-size: 24px;
  padding-top: 60px;
}

h3{
  font-size: 16px;
  font-weight:700;
}

h4{
  font-size: 16px;
  font-weight: 500;
}

.center-image{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0;
}


/* Footer 1 */
.footer {
    width: 1100px;
    float: left;
    padding: 300px 0px 30px 30px;
}

.widebody {
    width: 800px;
    padding: 0px 30px 30px 30px;
}

.widebody a:hover {
  background: #F06;
  color: #FFF;
  text-decoration: none;
}

