
html, body {
  padding: 0 0 0 0;
  margin: 0;
  font-family: 'heebo', 'helvetica', 'sans';
  padding: 30px 30px 30px;
  /* background: #fff; */
  background-color: rgb(231, 248, 246);

  color: #252525;
}

h1,h2,h3,h4 {
  font-family: 'heebo', 'helvetica', 'sans';
}

h2{
  font-size: 24px;
}

h3{
  font-size: 16px;
  font-weight:700;
}
a {
  color: #252525;
  text-decoration: none;
}
a:hover{
  color: #6c6c6c;
}

.topnav{
  overflow: hidden;
}
.topnav a{
  float: right;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
  padding-top: 12px;
  padding-left: 32px;
  padding-bottom: 60px;

}

.topnav a.nav-active {
  font-weight: 700;
}



.header h1 {
  font-size: 48px;
  text-align: left;
  color:#545454 ;
  }
.header {
  display: flex;
  flex-direction: row;
}

.header img{
  width: 60%;
  align-self: flex-start;
  }
.header-content{
  align-self: flex-start;
  flex: 1 1 auto;
  margin-right: 50px;
}

.assignments {
  display:flex;
  padding-top: 80px;
}

.assignment{
  margin-right: 20px;
}

.assignment img {
  width: 500px;
  height: 500px;
}


[data-stl-url] {
	height: 500px;
	width: 30vw;
}

/* Assignment 1 */
.cookie-cutters > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cookie-cutters [data-stl-url] {
  box-shadow: 1px 1px 4px 0px rgb(213, 211, 211);
  border-radius: 4px;
  background-color: white;
}
.cookie-cutters span {
  padding-top: 30px;
  padding-bottom: 50px;
  font-size: 32px;
  font-weight: 800;
}

a.download{
  text-decoration:underline;
}

hr {
  margin-bottom: 60px;
}

h4{
  font-size: 16px;
  font-weight: 500;
}

.center-image{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0;
}

/* assignment 2 */
.project-hero-image{
  width: 100%
}

.documentation{
  display:flex;
  flex-direction: column;
}

.two-columns{
  border-top: 1px solid rgba(126, 122, 122, 1);

  display: flex;
  flex-direction: row;
  align-items:flex-start;
  margin-top: 80px;
  margin-bottom: 40px;
  width: 100%;
}
.two-columns >h2{
  width:40%;
  margin-top: 16px;
}
.two-columns >div{
  padding-left: 80px;
  width: 100%;
}

.assemble-img{
  display:flex;
  width: 100%;
  padding-top:30px;
  padding-bottom: 30px;
}


.image-container > img,
.image-container > video {
  max-width:100%;
  max-height: 100%;
  transform: rotate (-90deg);
}

span{
  font-size: 12px;
  padding: 4px;
}


.image-container{
  flex: 1;
  height: 300px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
}

.three-columns-content-group{
  display:flex;
  width: 100%;
}

.three-columns-content{
  padding-right: 50px;
}

/* Footer 1 */
.footer {
    width: 1100px;
    float: left;
    padding: 300px 0px 30px 30px;
}

.widebody {
    width: 800px;
    padding: 0px 30px 30px 30px;
}

.widebody a:hover {
  background: #F06;
  color: #FFF;
  text-decoration: none;
}

video{
  width: 100%;

}

